.headerContainer {
    background: var(--white);
    height: 6.5rem;

    display:flex;
    align-items: center;

    padding: 2rem 4rem;

    border-bottom: 1px solid var(--gray-100);
        //não fecha as chaves aqui pq o modelo sass é uma cascata na qual tudo ocorre dentro de um escopo só.
p {
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 1px solid var(--gray-100);
}

span{
    margin-left: auto;           //faz uma margem com todo o espaço disponível - mt bom supostamente
    text-transform: capitalize; //faz a primeira letra de cada palavra ficar maiuscula
}

}